<div id="<%= dom_id order %>">

  <p>
    <strong></i> Product name:</strong>
    <%= order.product_name %>
  </p>

  <p>
    <strong>Product count:</strong>
    <%= order.product_count %>
  </p>

</div>
