<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Orders</h1>

  <% @orders.each do |order| %>
    <div id="orders">
        <%= render order %>
        <p>
          <%= link_to "Show this order", order %>
        </p>
    </div> <%# /orders %>
  <% end %>


<h3><%= link_to "New order", new_order_path, class: "pb-5" %></h3>
</div> <%# /container %>
